<html>
<head>
  <title></title>
  <meta http-equiv="refresh" content="15; URL=/">
  <script src="tagmob.js" type="text/javascript"></script>
  <script src="fonts/OldSansBlack_500.font.js" type="text/javascript"></script>
</head>
<body>
<div>
  <ol id="wordcloud">
    <% @words.each do |k, v| %>
      <li data-count="<%= v %>"><%= k %></li>
    <% end %>
  </ol>

</div>
<script type="text/javascript">
  var options = {
    width: 1000,
    height: 730,
    //hoverColor: "#00FF00",
    //selectColor: "#FF0000",
    maxFontHeight: 200,
    minFontHeight: 30,
    scaleToFit: true,
    //rotationProbability: 0.9,
    palette: ["#010712", "#13171F", "#1C1F26", "#24262D", "#961227"]

  };

  var list = document.getElementById("wordcloud");
  redraw = tagmob.createFromList(list, options);


</script>
</body>
</html>
