<html>
<head>
  <title></title>
  <meta http-equiv="refresh" content="15;">
  <script src="tagmob.js" type="text/javascript"></script>
  <script src="fonts/OldSansBlack_500.font.js" type="text/javascript"></script>
  <style type="text/css">
    body {
      background: black;
    }
  </style>
</head>
<body>
<div>
  <ol id="wordcloud">
    <% @words.each do |k, v| %>
      <li data-count="<%= v %>"><%= k %></li>
    <% end %>
  </ol>

</div>
<script type="text/javascript">
  var options = {
    width: 1000,
    height: 730,
    //hoverColor: "#00FF00",
    //selectColor: "#FF0000",
    maxFontHeight: 200,
    minFontHeight: 30,
    scaleToFit: true,
    //rotationProbability: 0.9,
    palette: ["#99DEF7", "#F8F8F9", "#90918D", "#69A0B8", "#737C82"]

  };

  var list = document.getElementById("wordcloud");
  redraw = tagmob.createFromList(list, options);


</script>
</body>
</html>
